.descriptionApp{
    font-size: 20px;
    text-align: center;
    margin-left:5vw;
    margin-right:5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-fluid{
    background-color: #99BADD;
    display: flex;
    height: 100%;
}