.YourClassesLabel2
{
   
    width: 161px;
    height: 30px;
    
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    
    color: #000000;
}
.videoBorder{
width: 95px;
height: 84px;

}