.container-fluid{
    background-color: #99BADD;
    display: flex;
    height: 100%;
}
hr{
    width: 100vw;
}
.picture-SignIn{
    display: flex;
    height: 35vh;
    width:75vw;
    max-width: 500px;
    max-height: 250px;
    border: 5px solid #D6A650;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}
.form{
    background-color: #CAAD78;
    height: 80vh;
    width:40vw ;
    border-radius:15% ;
    align-items: center;
}
.row{
    max-width:100% ;
    align-items: center;
}
.inputs{
    max-width: 40%;
}


.doneBtn {
  background: linear-gradient(to bottom right, #99BADD, #87b8ed);
  border: 3%;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.doneBtn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.doneBtn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.circle{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background: #D9D9D9;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 4%;
    align-items: center;
}
.questionMark{
    font-weight: bold;
    font-family: 'Irish Grover';
    font-size: 40px;
    line-height: 48px;
    display: flex;
    color: rgba(0, 0, 0, 0.2);
    padding-left:1vw ;
    max-width:40px;
    max-height: 48px;
}
.home{
    font-weight: bold;
    margin-right: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    background-blend-mode: hard-light;
}
.sign-in{
    width:20vw;
    font-weight: bold;
    margin-left: 3vw;
    margin-right: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #E3DAE0;
    background-blend-mode: hard-light;
}
.about-us{
    width: 20vw;
    font-weight: bold;
    margin-left: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    background-blend-mode: hard-light;
}