.container-fluid{
    background-color:white;
    display: flex;
    height: 100%;
    
}
html{
    background-color: white;
}
.backgroundcol{
   
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.pa{
    margin-left: 1vw;
    font-size: 16px;
    font-weight: bold;
}
.pic{
    display: flex;
    height: 35vh;
    width:75vw;
    max-width: 500px;
    max-height: 250px;
    border: 5px solid #D6A650;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;
    margin-left:1vw;
    height:5vh;
    width:30vw;
}
.description{
    font-size: 30px;
    text-align: center;
    margin-left:5vw;
    margin-right:5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.picture-home{
    align-items: center;
}
.training-plans{
    margin-right: 3vw;
    background: #CAAD78;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 45px;
    font-weight: bold;
    padding-left:20px ;
    padding-right:20px ;
}
.application-manual{
    margin-left: 3vw;
    background: #CAAD78;
    border: 1px solid #000000;
    border-radius: 30px;
    font-weight: bold;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
}

.home{
    font-weight: bold;
    margin-right: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background-blend-mode: hard-light;
    background: #E3DAE0;
    
}
.sign-in{
    width: 20vw;
    font-weight: bold;
    margin-left: 3vw;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    border: 1px solid #000000;
}
.about-us{
    width: 20vw;
    font-weight: bold;
    margin-left: 3vw;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    border: 1px solid #000000;
}