.container-fluid{
    background-color: #99BADD;
    display: flex;
    height: 100%;
}
.descriptionAboutUs{
    
    font-size: 30px;
    text-align: left;
    margin-left:5vw;
    margin-right:5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.picture-Nadeen{
    position: left;
    width: 280px;
    height: 280px;
    left: 35px;
    top: 234px;
    border: 10px solid #D6A650;
    border-radius: 100px;
    
}
.picture-Yassmine{
    position: left;
    width: 280px;
    height: 280px;
    left: 35px;
    top: 234px;
    border: 10px solid #D6A650;
    border-radius: 100px;
    
}
.home2{
    font-weight: bold;
    margin-right: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 8vh;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
}
.sign-in{
    width: 20vw;
    font-weight: bold;
    margin-left: 3vw;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    border: 1px solid #000000;
}
.about-us2{
    width: 20vw;
    font-weight: bold;
    margin-left: 3vw;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    border: 1px solid #000000;
}