.Upload{
    width: 50vw;
    font-weight: bold;
    margin-left: 3vw;
    border-radius: 30px;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    border: 1px solid #000000;
}
.searchI{
    width: 20px;
height: 20px;


}

.button-image {
    border: none;
    background: none;
}

.button-image:hover {
    background-color: rgb(174, 174, 231);
    border-radius: 10px;
}

.link-log-out {
    text-decoration: underline;
    color: blue;
    display: flex;
    align-items: start;
    justify-content: start;
    align-self: center;
}

.link-log-out:hover {
    text-decoration: underline;
    color: red;
}
html{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}