.table4 {
    border: 2px solid#D66850;
    width: 450px;
    height: 200px;
}
.home5{
    font-weight: bold;
    margin-right: 3vw;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 45px;
    padding-left:20px ;
    padding-right:20px ;
    background-blend-mode: hard-light;
    background-color: #D6A650;

}