body{
    background-color: #99BADD;
    margin-left: 30%;
    align-items: center;
}
.row{
    width: max-content;
}
#title{
    
    align-items: center;
}
#sub{
    padding-left: 70%;
}
.error-msg {
    color: red; 
}
.msg-modal,.msg-modal-title{
    color: black;
}

.space {
    margin-bottom: 16.5px;
}

.space2 {
    margin-bottom: 16px;
}

.margin-bottom-ReCAPTCHA {
    margin-bottom: 20px;
}
.down-buttons{
    margin-top: 5%;
    align-items: center;
}
.home{
    font-weight: bold;
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 8vh;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
}
.sign-in{
    width:20vw;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 8vh;
    padding-left:20px ;
    padding-right:20px ;
    background: #E3DAE0;
    background-blend-mode: hard-light;
}
.about-us{
    width: 20vw;
    height: 8vh;
    font-weight: bold;
    margin-left: 3px;
    border: 1px solid #000000;
    border-radius: 30px;
    padding-left:20px ;
    padding-right:20px ;
    background: #D6A650;
    background-blend-mode: hard-light;
}